* {
    color: whitesmoke;
    margin: 0;
}

li {
    list-style-type: none; /* remove the blck circle before the text */
}

html {
    background-color: rgb(49, 58, 99);
}

a :after {
    color: lightblue; /* color after user click*/
}

a {
    text-decoration: none;
}

header, footer {
    max-height: 150px;
    margin-bottom: 0;
    position: relative;
}

#pdp {
    max-height: 150px;
    max-width: 150px;
}

.flex-container {
    font-size: 24px;
    line-height: 26px;
    padding: 10px;
    min-height: 50px;
    background-color: rgb(14, 25, 99);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.flex-items:nth-child(1) {
    display: block;
    flex-basis: 50%;
}

.flex-items:nth-child(2) {
    display: block;
    flex-basis: 10%;
}

.flex-items:nth-child(3) {
    display: block;
    flex-basis: 10%;
}

.flex-items:nth-child(4) {
    display: block;
    flex-basis: 10%;
}

.flex-items:nth-child(5) {
    display: block;
    flex-basis: 10%;
}

.flex-items:nth-child(6) {
    display: block;
    flex-basis: 10%;
}
.content-propos {
    max-width: 500px;
    text-align: center;
    padding: 100px;
}

.content-parcours {
    max-width: 500px;
    text-align: center;
    padding: 100px;
}

/* Container for skill bars */
.container-competences {
    margin-left: 25%;
    display: flex;
    align-items: flex-start;
}

* {
    box-sizing: border-box
}


.skills {
    text-align: center; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    background-color: rgb(47, 233, 145);
    color: black;
    border-radius: 33px;

}

.html {
    width: 90%;
}

/* Green */
.css {
    width: 80%;
}

/* Blue */
.js {
    width: 65%;
}

/* Red */
.php {
    width: 60%;
}

/* Dark Grey */


.content-contact {
    max-width: 500px;
    text-align: center;
    padding: 100px;
}

.form-contact {
    margin: 10px;
}

.content-realisations {
    max-width: 500px;
    text-align: center;
    padding: 100px;
}

.container {
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

#btn-confirm {
    color: whitesmoke;
    background-color: #5d90dd;
}

footer {
    min-height: 250px;
    background-color: #0e1963;
}