* {
    color: whitesmoke;
    margin : 0 ;
}
li{
    list-style-type: none;
}html {
    background-color: rgb(49,58,99);
 }
 a ::after {
     color: lightblue;
 }
 a {
     color : whitesmoke;
 }
 header, footer{
     min-height: 200px;
     margin-bottom : 0;
     position: relative;
     /*background-color: rgb(14,25,99);*/
 }