* {
    color: whitesmoke;
    margin: 0;
}

li {
    list-style-type: none;
}

html {
    background-color: rgb(49, 58, 99);
}

a :after {
    color: lightblue;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

header, footer {
    max-height: 150px;
    margin-bottom: 0;
    position: relative;
}

#pdp {
    max-height: 150px;
    max-width: 150px;
}

.flex-container {
    font-size: 24px;
    line-height: 26px;
    padding: 10px 0 10px 0;
    min-height: 50px;
    background-color: rgb(14, 25, 99);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.flex-items:nth-child(1) {
    display: block;
    flex-basis: 50%;
}

.flex-items:nth-child(2) {
    display: block;
    flex-basis: 10%;
}

.flex-items:nth-child(3) {
    display: block;
    flex-basis: 10%;
}

.flex-items:nth-child(4) {
    display: block;
    flex-basis: 10%;
}

.flex-items:nth-child(5) {
    display: block;
    flex-basis: 10%;
}

.flex-items:nth-child(6) {
    display: block;
    flex-basis: 10%;
}
.content-propos {
    /*background-color: transparent;*/
    max-width: 500px;
    text-align: center;

    padding: 100px;
}

.content-parcours {
    /*background-color: blue;*/
    max-width: 500px;
    text-align: center;
    padding: 100px;
}

.content-competences{
    /*background-color:lightblue;*/
    max-width: 500px;
    text-align: center;
    padding: 100px;
}

.content-contact{
    /*background-color:red;*/
    max-width: 500px;
    text-align: center;
    padding: 100px;
}
.form-contact{
    margin: 10px;
}

.content-realisations{
    /*background-color:yellow;*/
    max-width: 500px;
    text-align: center;
    padding: 100px;
}
.container {
    justify-content: center;
    align-items: flex-start;
    display: flex;
}
#btn-confirm {
    color: whitesmoke;
    background-color: #5d90dd;
}
footer{
    min-height: 250px;
    background-color:#0e1963;
}