.container-propos {
  background-color: var(--even-background-color);

  .content-propos {
    padding-top: 100px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;

    #profile-picture {
      margin: 100px 0;
      border-radius: 150px;
      height: 300px;
      width: 300px;
      float: left;
    }

    .propos-description {
      font-size: 1.5rem;
      max-width: 500px;
      text-align: center;
    }
  }
}

@media screen and (max-device-width: 650px) {
  .container-propos {
    padding: 50px;

    .content-propos {
      display: none;

      #profile-picture {
        margin-top: 150px;
        border-radius: 300px;
        height: 600px;
        width: 600px;
      }
    }
  }
}