---
import './hero.scss'
---
<div class="container-propos">
    <div class="content-propos">
        <img id="profile-picture" src="src/assets/profile-picture.jpg" alt="photo de profil">
        <div id="propos" class="propos-description">
            <h2> Qui suis-je ?</h2>
            <p>
                Je suis étudiant en master Architecte de Systèmes d'Information en alternance à l'ETNA
            </p>
            <a href="src/assets/cv.pdf" target="_blank">Lien vers mon cv au format PDF </a>
        </div>
    </div>
</div>