---
import './cursus.scss'
---
<div class="container-parcours">
    <h1 id="parcours">Mon parcours </h1>

    <div class="timeline">
        <ol>
            <li>
                <div>
                    <time datetime="2017">2017</time>
                    Mon année de seconde marque le début de mon intérêt pour les technologies du web.
                </div>
            </li>
            <li>
                <div>
                    <time datetime="2018">2018-2020</time>
                    J'ai effectué un Baccaulauréat STI2D option ITEC que j'ai obtenu avec mention BIEN
                </div>
            </li>
            <li>
                <div>
                    <time datetime="2020">2020-2022</time>
                    Lors de ces deux ans, j'ai effectué un BTS SIO option SLAM
                </div>
            </li>
            <li>
                <div>
                    <time datetime="2022"> 2022-2024</time>
                    Bachelor en alternance à
                    <a href="https://www.etna.io">l'ETNA</a> pour obtenir
                    le diplôme BAC +3 de concepteur de projet SI.
                </div>
            </li>
            <li>
                <div>
                    <time datetime="2022"> 2024</time>
                    Master en alternance à <a href="https://www.etna.io">l'ETNA</a> pour obtenir
                    le diplôme BAC +5 d' Architecte de Systèmes d'Information.
                </div>
            </li>
            <li>
            </li>
        </ol>
    </div>
</div>
