@import "tailwindcss";
:root {
    --button-outline: rgba(0,0,0, .10);
    --badge-outline: rgba(0,0,0, .05);
    --opaque-button-border-intensity: -8;
    --elevate-1: rgba(0,0,0, .03);
    --elevate-2: rgba(0,0,0, .08);
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --border: 0 0% 91%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 9%;
    --card-border: 0 0% 95%;
    --sidebar: 0 0% 96%;
    --sidebar-foreground: 0 0% 9%;
    --sidebar-border: 0 0% 93%;
    --sidebar-primary: 220 90% 48%;
    --sidebar-primary-foreground: 220 90% 98%;
    --sidebar-accent: 220 12% 92%;
    --sidebar-accent-foreground: 220 12% 12%;
    --sidebar-ring: 220 90% 48%;
    --popover: 0 0% 94%;
    --popover-foreground: 0 0% 9%;
    --popover-border: 0 0% 91%;
    --primary: 220 90% 48%;
    --primary-foreground: 220 90% 98%;
    --secondary: 220 6% 90%;
    --secondary-foreground: 220 6% 12%;
    --muted: 220 8% 92%;
    --muted-foreground: 220 8% 38%;
    --accent: 220 10% 94%;
    --accent-foreground: 220 10% 12%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 72% 98%;
    --input: 0 0% 75%;
    --ring: 220 90% 48%;
    --font-sans: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: "JetBrains Mono", "Fira Code", monospace;
    --radius: .5rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
    --shadow-sm: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow-md: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
    --shadow-lg: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
    --shadow-xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
    --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.00);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

@font-face {
    font-family: "Jetbrains";
    src: url("/fonts/JetBrains/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-VariableFont.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}