
.container-contact {
  background-color: var(--even-background-color);
  height: 250px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;


  .icon {
    flex-basis: 250px;
    float: left;

    .social {
      width: 64px;
      height: 64px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .social {
    width: 64px;
    height: 64px;
  }

}

@media screen and (max-width: 1000px) {
  .social {
    width: 64px;
    height: 64px;
  }
}

@media screen and (max-device-width: 650px) {


  .link {
    align-items: center;
    justify-content: center;
    display: flex;

    .icon {
      flex-basis: 100px;
      float: left;

      .social {
        width: 64px;
        height: 64px;
      }
    }

  }
}