---
import './header.scss'
---

<header>
    <div class="name"><a href="#">Gabriel PERINO</a></div>
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn">
        <span class="navicon"></span>
    </label>
    <nav class='menu'>
        <a class='nav-item' href="">A propos</a>
        <a class='nav-item' href="">Parcours</a>
        <a class='nav-item' href="">Compétences</a>
        <a class='nav-item' href="">Réalisations</a>
        <a class='nav-item' href="">Contact</a>
    </nav>
</header>