---
---
<div id="contact" class="container-contact">
    <div class="link">
        <div class="icon">
            <a href="https://www.linkedin.com/in/gabriel-perino-69a0111b6/">
                <img class=" social" src="public/images/linkedin.png" alt="logo_linkedin">
            </a>
        </div>
        <div class="icon">
            <a href="https://www.github.com/coderangel117/">
                <img class=" social" src="public/images/github.png" alt="logo_github">
            </a>
        </div>
        <div class="icon">
            <a href="mailto:perino.contact@gmail.com?subject=Mail-portfolio">
                <img class=" social" src="public/images/mail.png" alt="mail"></a>
        </div>
    </div>
</div>
