
.container-competences {
  padding: 50px 0;
  background-color: var(--even-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .content-competences {
    width: calc(250px * 3 + 50px * 3);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    .competences {
      width: 250px;
      margin: 25px;

      .level-tech {
        margin-top: 15px;
        border: 1px solid black;
        border-radius: 16px;
        content: '';
        width: 100%;
        background-color: white;

        .percent {
          height: 12px;
          border-radius: 16px;
          background-color: #b3b0b0;
        }
      }

      .tech-name {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
      }

    }
  }
}


@media screen and (max-width: 1000px) {

  .content-competences {
    max-width: 100%;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 50px;
  }

  .tech-name {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }

  .level-tech {
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 16px;
    content: '';
    width: 100%;
    background-color: white;

    .percent {
      border-radius: 16px;
      background-color: #b3b0b0;
    }
  }
}

@media screen and (max-device-width: 650px) {

  .content-competences {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tech-name p {
    font-size: 2rem;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }

  .level-tech {
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 16px;
    width: 246px;
    background-color: white;
  }

  .percent {
    height: 24px;
    border-radius: 16px;
    background-color: #b3b0b0;
  }
}
