:root {
    --even-background-color: whitesmoke;
    --odd-background-color: #eee;
    --all-color: #0e1963;
    --link-hover-color: #0e1963;
    --body-selection-color: #0e1963;
    --body-selection-background-color:#fff;
}

@media (prefers-color-scheme: dark){
    :root {
        --odd-background-color: #222;
        --even-background-color: #333;
        --all-color: #aaa;
        --link-hover-color: #888;
        --body-selection-color: #fff;
        --body-selection-background-color:#0e1963;
    }
}
*,
*::before,
*::after {
    color: var(--all-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color:  var(--body-selection-background-color);
    color: var(--body-selection-color);
}
img {
    user-select: none;
    width: 100%;
    height: auto;
}
body{
    background-color: var(--even-background-color);
}

.img-project{
    padding: 10px;
    max-width: 500px;
    max-height: 500px;
    float: left;
}
.desc{
    right: 0;
    height: 750px;
    padding-top: 75px;
}
/********************************
* SECTION FONCTIONNALITY
*********************************/

.a-img-txt {
    user-select: none;
    display: grid;
}

/* les enfants se superposent */
.a-img-txt > * {
    grid-area: 1/1/-1/-1;
    /* raccourci pour grid-row et grid-column */
}

.a-txt {
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    /* background-color: grey; */
    opacity: 0.5;
    filter: invert(0); /* antibug si effet sur a-img */
    transition: opacity .2s;
}

/* le survol */
.a-txt:hover {
    opacity: 1;
}

.a-img-txt:hover .a-img {
    filter: invert(0);
}

/* la déco */
.container-realisation {
    background-color: var(--odd-background-color);
}
.content-fonctionnality {
    /* padding: 50px 0; */
    margin: 0 5%;
    display: grid;
    grid-template-columns:  900px 900px ;
    grid-template-rows: 500px;
    grid-gap: 24px;
    gap: 24px;
}

@media screen and (max-width: 1000px) {
    /********************************
    * SECTION FONCTIONNALITY
    *********************************/
    .content-fonctionnality {
        /* margin: 0 5%; */
        display: grid;
        grid-template-columns: 700px;
        grid-template-rows: 600px 600px;
        grid-gap: 25px;
        gap: 25px;
    }
}

@media screen and (max-width: 1500px) {
    /********************************
    * SECTION FONCTIONNALITY
    *********************************/
    .content-fonctionnality {
        /* margin: 0 5%; */
        display: grid;
        grid-template-columns: 900px;
        grid-template-rows: 600px 600px;
        grid-gap: 25px;
        gap: 25px;
    }
}

@media screen and (max-device-width: 480px) {
    /********************************
    * SECTION FONCTIONNALITY
    *********************************/
    .content-fonctionnality {
        /* margin: 0 5%; */
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 250px;
        grid-gap: 25px;
        gap: 25px;
    }
}
