:root {
    --even-background-color: whitesmoke;
    --odd-background-color: #eee;
    --all-color: #0e1963;
    --link-hover-color: #0e1963;
    --body-selection-color: #0e1963;
    --body-selection-background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --odd-background-color: #222;
        --even-background-color: #333;
        --all-color: #aaa;
        --link-hover-color: #888;
        --body-selection-color: #fff;
        --body-selection-background-color: #0e1963;
    }
}
*,
*::before,
*::after {
    color: var(--all-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--body-selection-background-color);
    color: var(--body-selection-color);
}

/*******************************
* Balise générales
 ******************************/
h1 {
    font-family: lemonmilk, serif;
    font-size: 48px;
    text-align: center;
}

li {
    list-style-type: none; /* remove the blck circle before the text */
}

p {
    font-size: x-large
}

a :hover {
    background-color: var(--link-hover-color);
}

a {
    color: var(--all-color);
    text-decoration: none;
}

/*******************************
* SECTION MENU
 ******************************/
.icon {
    width: 150px;
    height: 150px;
}


.name {
    float: left;
    margin: 0 15px;
    font-size: 24px;
    line-height: 26px;
    padding: 10px;
}

header {
    z-index: 1;
    width: 100%;
    background-color: var(--odd-background-color);
    margin-top: 0;
    position: fixed;
}

/* Adapted from https://codepen.io/mutedblues/pen/MmPNPG */

header > * {
    flex-grow: 1;
}

header a {
    text-decoration: none;
}

/* "Hide" checkbox -- moves it off screen*/
#menu-btn {
    position: absolute;
    top: -100%;
    left: -100%;
}

/* Hide hamburger for bigger screens */
.menu-icon {
    visibility: hidden;
}

.menu {
    font-size: 24px;
    line-height: 25px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 2rem;
}


/*******************************
* SECTION PROPOS
******************************/
.container-propos {
    background-color: var(--even-background-color);
}

.content-propos {
    padding-top: 100px;
    justify-content : space-around;
    align-items: center;
    display: flex;
}
.propos-description{
    max-width: 500px;
    text-align: center;
}
#profile-picture {
    margin: 100px 0;
    border-radius: 150px;
    height: 300px;
    width: 300px;
    float: left;
}

/*******************************
* SECTION PARCOURS
*******************************/

.section {
    background-color: var(--odd-background-color);
    padding: 50px 0;
}

.section .container-parcours {
    background-color: var(--odd-background-color);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.timeline h2 {
    font-size: 1.3rem;
}


.timeline {
    background-color: var(--odd-background-color);
    white-space: nowrap;
    overflow-x: hidden;
}

ol {
    margin: 0 15%;
    font-size: 0;
    width: 100vw;
    padding: 150px 0;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background-color: var(--all-color);
}

.timeline ol li:last-child {
    width: 320px;
}

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--all-color);
}

.timeline ol li div {
    border: 1px solid var(--all-color);
    position: absolute;
    left: calc(100% + 7px);
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    white-space: normal;
    color: var(--all-color);
    /* background-color: beige; */

}

.timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border: 1px solid var(--all-color);
}

.timeline ol li:nth-child(odd) div {
    /* border: 1px solid #0e1963; */
    top: -16px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: var(--all-color) transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent var(--all-color);
}

.timeline time {
    /*padding: 0 0 0 10px;*/
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

/*******************************
* SECTION COMPETENCES
 ******************************/

.container-competences {
    background-color: var(--even-background-color);
}

.content-competences {
    padding: 100px 10%;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 150px 150px;
    grid-gap: 50px;
}

.tech-name {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.level-tech {
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 16px;
    content: '';
    width: 100%;
    background-color: white;
}

.percent {
    height: 12px;
    border-radius: 16px;
    background-color: #b3b0b0;
}

/********************************
* SECTION REALISATIONS
*********************************/

.a-img-txt {
    user-select: none;
    display: grid;
}

/* les enfants se superposent */
.a-img-txt > * {
    grid-area: 1/1/-1/-1;
    /* raccourci pour grid-row et grid-column */
}

.a-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--all-color);
    opacity: 0;
    filter: invert(0); /* antibug si effet sur a-img */
    transition: opacity 3s;
}

/*les couleurs de survol  */
/* .c1 { */
/*     background: #5C05E6CC; !* avec alpha *! */
/* } */

/* le survol */
.a-txt:hover {
    opacity: 1;
}

.a-img-txt:hover .a-img {
    filter: invert(0);
}

/* la déco */
.container-realisation {
    background-color: var(--odd-background-color);
}

.content-realisation {
    padding: 50px 0;
    margin: 0 10%;
    display: grid;
    grid-template-columns:  375px 375px 375px;
    grid-template-rows: 250px;
    grid-gap: 24px;
    gap: 24px;
}

.lien {
    user-select: none;
    width: 50px;
    height: 50px;
}

img {
    user-select: none;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/*******************************
 * SECTION CONTACT
  ******************************/
.social {
    width: 64px;
    height: 64px;
}

.container-contact {
    background-color: var(--even-background-color);
}

.content-contact {
    margin: 0 20%;
    gap: 35px;
    display: grid;
    grid-template-columns: 300px 550px;
    grid-template-rows:  50px 50px 200px;
}

.form-contact__label {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contact__textarea {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
}

input {
    font-size: 1.5rem;
    resize: none;
    width: 100%;
    height: 48px;
}

textarea {
    font-size: 1.5rem;
    resize: none;
    width: 100%;
    /*height: 24px;*/
}

#btn-confirm:hover {
    background-color: #0e1963;
    color: white;
    transition: .5s ease-in-out;
}

#btn-confirm {
    position: relative;
    font-size: 25px;
    padding: 15px;
    margin: 50px 100px;
    width: 350px;
    color: #0e1963;
    background-color: whitesmoke;
}

.link {
    height: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.icon {
    flex-basis: 250px;
    float: left;
}

@media screen and (max-width: 1300px) {

    /********************************
    * SECTION COMPETENCES
    *********************************/
    .content-competences {
        padding: 100px 15%;
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 150px 150px;
        grid-gap: 50px;
    }

    .tech-name {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }

    .level-tech {
        margin-top: 15px;
        border: 1px solid black;
        border-radius: 16px;
        content: '';
        width: 100%;
        background-color: white;
    }

    .percent {
        border-radius: 16px;
        background-color: #b3b0b0;
    }

    /********************************
    * SECTION REALISATIONS
    *********************************/
    .content-realisation {
        margin: 0 5%;
        padding: 25px 0;
        display: grid;
        grid-template-columns: 450px 450px;
        grid-template-rows: 300px 250px;
        grid-gap: 50px;
        gap: 50px;
    }
}

@media screen and (max-width: 1200px) {

    /********************************
    * SECTION MENU
    *********************************/
    a {
        grid-area: title;
    }

    .name {
        /*display: none;*/
        margin: 0 5px;
        font-size: 32px;
        line-height: 36px;
    }

    .menu a {
        text-decoration: none;
        color: black;
    }

    .menu-btn {
        display: none;
    }

    .menu-icon {
        grid-area: hamburger;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        padding: 30px 40px 30px 0;
        position: relative;
        user-select: none;
        visibility: visible;
    }

    .navicon {
        background: var(--all-color);
        display: block;
        height: 2px;
        width: 30px;
        position: relative;
    }

    .navicon:before {
        top: 10px;
    }

    .navicon:after {
        top: -10px;
    }

    .navicon:before, .navicon:after {
        background: var(--all-color);
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        transition: all .2s ease-out;
    }

    .menu {
        z-index: 1;
        grid-area: nav;
        justify-content: center;
        max-height: 0;
        transition: max-height .6s ease-out;
        overflow: hidden;
        margin: 0;
        padding: 0;
        background-color: var(--odd-background-color);
        display: flex;
        flex-direction: column;
    }

    .menu a {
        color: var(--all-color);
        background-color: var(--odd-background-color);
        width: 100%;
        text-align: center;
    }

    .menu-btn:checked ~ .menu {
        max-height: 240px;
    }

    .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon:before,
    .menu-btn:checked ~ .menu-icon .navicon:after {
        top: 0;
    }

    /********************************
    * SECTION PARCOURS
    ******************************/
    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    ol {
        margin-left: 10px;
        margin-right: 10px;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:first-child {
        margin-top: 25px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px;
        position: static;
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px;
    }

    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
        display: none;
    }

    /*******************************
    * SECTION CONTACT
    ******************************/
    .social {
        margin: 0 15px;
        width: 64px;
        height: 64px;
    }

    .content-contact {
        margin: 25px 10%;
        gap: 50px;
        display: grid;
        grid-template-columns: 250px 400px;
        grid-template-rows:  50px 50px 200px;
    }

    .form-contact__label {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-contact__textarea {
        padding: 10px;
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
    }

    input {
        font-size: 1.5rem;
        border: 1px solid;
        resize: none;
        width: 100%;
        height: 48px;
    }

    textarea {
        font-size: 2rem;
        border: 1px solid;
        resize: none;
        width: 100%;
        /*height: 24px;*/
    }

    #btn-confirm {
        font-size: 1.5rem;
        width: 250px;
        padding: 15px;
        color: #0e1963;
        background-color: whitesmoke;
    }
}

@media screen and (max-width: 1000px) {

    /********************************
    * SECTION COMPETENCES
    *********************************/
    .content-competences {
        padding: 100px 15%;
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 150px 150px 150px;
        grid-gap: 50px;
    }

    .tech-name {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }

    .level-tech {
        margin-top: 15px;
        border: 1px solid black;
        border-radius: 16px;
        content: '';
        width: 100%;
        background-color: white;
    }

    .percent {
        border-radius: 16px;
        background-color: #b3b0b0;
    }

    /********************************
    * SECTION REALISATIONS
    *********************************/
    .content-realisation {
        margin: 0 5%;
        padding: 10px 0;
        display: grid;
        grid-template-columns: 675px;
        grid-template-rows: 600px;
        grid-gap: 50px;
        gap: 50px;
    }

    .lien {
        width: 150px;
        height: 150px;
    }

    /*******************************
    * SECTION CONTACT
    ******************************/
    .social {
        margin: 0 15px;
        width: 64px;
        height: 64px;
    }

    .content-contact {
        margin: 25px 5%;
        gap: 50px;
        display: grid;
        grid-template-columns: 250px 300px;
        grid-template-rows:  50px 50px 200px;
    }

    .form-contact__label {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-contact__textarea {
        padding: 10px;
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
    }

    input {
        font-size: 1.5rem;
        border: 1px solid;
        resize: none;
        width: 100%;
        height: 48px;
    }

    textarea {
        font-size: 2rem;
        border: 1px solid;
        resize: none;
        width: 100%;
        /*height: 24px;*/
    }

    #btn-confirm {
        margin: 0 350px;
        font-size: 15px;
        width: 200px;
        padding: 15px;
        color: #0e1963;
        background-color: whitesmoke;
    }
}

@media screen and (max-device-width: 480px) {

    /********************************
    * SECTION MENU
    ********************************/
    a {
        grid-area: title;
    }

    .name {
        margin: 0 5px;
        font-size: 36px;
        line-height: 52px;
        padding: 20px;
    }

    .menu a {
        text-decoration: none;
        color: #0e1963;
    }

    .menu-btn {
        display: none;
    }

    .menu-icon {
        grid-area: hamburger;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        padding: 35px 25px 60px 0;
        position: relative;
        user-select: none;
        visibility: visible;
    }

    .navicon {
        background: #333;
        display: block;
        height: 2px;
        width: 80px;
        position: relative;
    }

    .navicon:before {
        top: 20px;
    }

    .navicon:after {
        top: -20px;
    }

    .navicon:before, .navicon:after {
        background: #333;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        transition: all .2s ease-out;
    }

    .menu {
        font-size: 48px;
        line-height: 25px;
        z-index: 1;
        grid-area: nav;
        max-width: unset;
        transition: max-height .6s ease-out;
        overflow: hidden;
        background-color: #000;
        display: flex;
        flex-direction: column;
    }

    .menu a {
        padding: 15px 0;
        border-right: 1px solid #f4f4f4;
        background-color: #fff;
        width: 100%;
        text-align: center;
    }

    .menu-btn:checked ~ .menu {
        max-height: 280px;
    }

    .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon:before,
    .menu-btn:checked ~ .menu-icon .navicon:after {
        top: 0;
    }

    /********************************
    * SECTION PROPOS
    ****************************/

    .content-propos {
        display: none;
    }

    .container-propos {
        padding: 50px;
    }

    #profile-picture {
        margin-top: 150px;
        border-radius: 300px;
        height: 600px;
        width: 600px;
    }


    /********************************
    * SECTION PARCOURS
    *********************************/
    .timeline time {
        padding: 0 15px;
        display: block;
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    ol {
        margin-left: 10px;
        margin-right: 10px;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:first-child {
        margin-top: 25px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        width: 300px;
        padding: 10px;
        font-size: 1rem;
        height: auto !important;
        /* margin: 0 auto 25px; */
        position: static;
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid whitesmoke;
        height: 25px;
    }

    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
        display: none;
    }

    /********************************
    * SECTION COMPETENCES
    ***************************/
    .content-competences {
        padding: 50px 0 50px 5%;
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 100px  100px  100px;
        grid-gap: 50px;
    }

    .tech-name p {
        font-size: 2.5rem;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }

    .level-tech {
        margin-top: 25px;
        border: 1px solid black;
        border-radius: 16px;
        width: 100%;
        background-color: white;
    }

    .percent {
        height: 24px;
        border-radius: 16px;
        background-color: #b3b0b0;
    }

    /********************************
    * SECTION REALISATIONS
    *********************************/
    .content-realisation {
        /* margin: 0 5%; */
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 250px;
        grid-gap: 25px;
        gap: 25px;
    }

    .lien {
        width: 150px;
        height: 150px;
    }

    /*******************************
    * SECTION CONTACT
     ******************************/
    .social {
        margin: 0 15px;
        width: 64px;
        height: 64px;
    }

    .content-contact {
        margin: 25px 10%;
        gap: 35px;
        display: grid;
        grid-template-columns:  250px;
        grid-template-rows:  50px 50px 50px 50px 50px 50px ;
    }

    .form-contact__label {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-contact__textarea {
        padding: 10px;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }

    input {
        border: 1px solid;
        resize: none;
        width: 100%;
        height: 48px;
    }

    textarea {
        border: 1px solid;
        resize: none;
        width: 100%;
        height: 150px;
    }

    #btn-confirm {
        margin: 30px  15px;
        font-size: 1rem;
        width: 100px;
        color: #0e1963;
        background-color: whitesmoke;
    }

    .link {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .icon {
        flex-basis: 100px;
        float: left;
    }
}