* {
    color : #0e1963;
    margin: 0;
}

.name{
    float: left;
    margin: 0 15px;
    font-size         : 24px;
    line-height       : 26px;
    padding           : 10px;
}
h1{
    text-align: center;
}

li {
    list-style-type: none; /* remove the blck circle before the text */
}

p {
    font-size:x-large
}

a :after {
    color: lightblue; /* color after user click*/
}

a {
    text-decoration: none;
}

header{
    z-index: 1;
    width: 100%;
    background-color: white;
    margin-top: 0;
    position     : fixed;
}

#profile-picture {
    margin-top: 100px;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    height   : 414px;
    width    : 311px;
    float        : left;
}

.content-propos {
    max-width : 500px;
    text-align: center;
    padding   : 100px;
}

/* Container for skill bars */
.container-competences {
    margin-right: 10%;
    margin-left : 25%;
    display     : flex;
    align-items : flex-start;
}

.skills {
    line-height     : 26px;
    text-align      : center;
    padding-top     : 10px;
    padding-bottom  : 10px;
    background-color: rgb(47, 233, 145);
    color           : black;
    border-radius   : 33px;
}
.competences {
    display : block;
    justify-content : space-between;
}
#competences p {
    float : left;
}

.html {
    width: 90%;
}

.css {
    width: 40%;
}

.js {
    width: 50%;
}

.php {
    width: 70%;
}

.symfony {
    width: 30%;
}

.csharp {
    width: 40%;
}

.content-contact {
    border    : 1px solid black;
    max-width : 500px;
    text-align: center;
    padding   : 100px;
}

.form-contact {
    margin: 10px;
}

 .container-propos, .container-parcours {
    justify-content: center;
    align-items    : flex-start;
    display        : flex;
} 

#btn-confirm {
    color           : whitesmoke;
    background-color: #5d90dd;
}
 
.mail {
    width : 64px;
    height: 64px;
}
.form-inline {
    gap: 30px;
    display: grid; 
    grid-template-columns: 200px 250px; 
    grid-template-rows: 30px 30px 30px; 
}
.form-contact__label{
    text-align: left;
}
.form-contact__textarea{
    padding: 10px;
    resize: none;
    width: 250px;
    height: 150px;
}
input {
    width: 250px;
    height: 25px;
}
.img {
    height: 246px;
    width: 441px;
}
.img-project{
    float: left;
    height: 400px;
    width: 800px;
}
.legend{
    display: grid;
    grid-template-columns: 450px 250px; 
    grid-template-rows: 15px 15px 15px 15px; 
    gap: 15px;
}
.img-legend{
    margin-top: 30px;
}