name: Deploy Astro to o2switch

on:
  push:
    branches:
      - main
      - develop

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Build Astro site
        run: npm run build

      - name: Test secret 1
        run: echo "FTP_DOMAIN is ${{ secrets.FTP_DOMAIN }}"
      - name: Test secret 2
        run: echo "FTP_USERNAME is ${{ secrets.FTP_USERNAME }}"

      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_DOMAIN }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: dist/
          server-dir: ${{ github.ref == 'refs/heads/main' && 'public_html/portfolio' || 'dev.gabrielperino.com/' }}
